html {
    box-sizing: border-box;
}

body {
    background-color:rgb(0, 12, 32);
    margin: 0;
    min-height: 100vh;
    
}
.nav{
    display: list-item;
    background-color:rgb(0, 18, 46);
}
ul{
    padding: 0px;
    margin:0px;
}
.nav li{
    text-align: center;
    background-color:rgb(0, 29, 75);
    margin:1px;
    padding:10px;
    text-transform: uppercase;
    list-style-type:none;
}
li a{
    color:aqua;
    text-decoration: none;
}
a{
    color:rgb(0, 0, 0);
    text-decoration: none;
}

.fs{
    padding: 10px;;
    height: 100vh;
    color:aquamarine;
    background-color:rgb(0, 11, 27);
    padding-top:5%;
    width: 100%;
    /* width:100vh; */
}
.top{
    background-color: aqua;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 10px;
    margin: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
}
.logo{
    height: 70px;
    width: 70px;
    margin:5px;
    border-radius: 50px;
    margin-left:45%;
    margin-right: auto;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }
  h1{
      text-transform: uppercase;
      text-align: center;
      padding:10px;
  }

  .flex{
      display:flex;
  }
  .sticky{
    display: list-item;
}

.nav li:hover{
    background-color:rgb(70, 97, 255);

}
li a:hover{
    color: cyan;
}
.home{
    background-image: url("img/icon.jpg");
    min-height: 100vh;
    width:auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.scroll{
    margin-top: 40vh;
    margin-bottom:auto;
    text-align: center;
}
.animate {
    position: relative;
    animation-name: animate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  @keyframes animate {
    0%  {top:0px;}
    100%  {top:40px;}
  }
  .parallax {
    min-height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .gap{
      height: 15rem;
  }
  .home{
    background-image: url("img/icon.jpg");
  }
  .intro{
    background-image: url("img/img20.jpg");
  }
  .academics{
    background-image: url("img/img21.jpg");
  
  }
  .services{
    background-image: url("img/img22.jpg");
    height: 110vh;
  }
  .contact{
    background-image: url("img/img23.jpg");
  }
  .footer{
      border-top: 1px solid gray;
      margin-bottom: auto;
      padding-top:20px;
      padding-bottom:20px;
      text-align: center;
      color: rgb(156, 156, 156);
      
      background-color: rgb(37, 37, 37);
  }
  .justify{

      text-transform: uppercase;
      text-align: justify;
  }
  .bgd{
      border-radius: 10px;
      font-size: 1.5em;
      padding:20px;
      background-color:rgba(161, 161, 161, 0.5);
      color:rgb(255, 231, 231)
  }

  .w90{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .servicesList li{
    text-align: left;
    text-transform: uppercase;
    list-style:decimal-leading-zero;
    margin-left: 2rem;
}
.academics li{
    text-align: left;
    text-transform: uppercase;
    list-style:none;
    margin-left: 2rem;
}
/* Media queries */
.contact li{
    list-style:none;
}
@media only screen and (min-width: 1290px) {
    .nav{
        width:70%;
        margin-right: auto;
        margin-left: auto;
        display:flex;
        /* display: none; */
        background-color:rgb(0, 18, 46);
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 15%;
    }
    .nav ul{
        padding: 5px;
        margin:5px;
        display: flex;
        }
    .nav li{
        border-radius: 10px;
        font-size: 1.5em;
        margin:5px;
        padding:10px 30px;
        text-transform: uppercase;
        list-style-type:none;
        }
        .logo{
            margin: 10px;
            padding:0px;
        }
    .flex{
            display:block;
        }
    .fs{
        width:70%;
        margin-left: auto;
        margin-right: auto;
        color:aquamarine;
        background-color:rgb(0, 11, 27);
    }
    .top{
        margin-left:15.5%;
    }
    .home{
        background-image:url("img/icon.jpg");
    }
    .footer{
        width:70%;
    }
    .academics{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5em;
    }
    .servicesList li{
        text-align: left;
        text-transform: uppercase;
        list-style:decimal-leading-zero;
        margin-left: 5rem;
    }
    .w70{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
      }
} 
